@charset "utf-8";
@import url('font-awesome.min.css'); 
@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight:bold;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
::selection {
	background:#fff000;
	color:#333;
}
::-moz-selection {
	background:#fff000;
	color:#333;
}
html{
	margin:0;
	padding:0;
}
body{
	font-family: Verdana, sans-serif, "微軟正黑體";
	font-size:1em;
	overflow-y:scroll;
	margin:0;
	padding:0;
	color:#000;
}
img{
	border:0;
}
p{
	margin:0;
	padding:0;
}
input[type="text"],
input[type="password"],
textarea {
    padding:6px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-size:13px;
}
select{
	font-family:Verdana, Geneva, sans-serif, "新細明體";
	font-size:13px;
	padding:4px 7px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button{
	padding:5px 15px;
    display: inline-block;
    -webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:none;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	cursor:pointer;
	background:#ffec1c;
	color:#fff;
	font-size:13px;
}

.btn_01{
	padding:0;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	cursor:pointer;
	line-height:26px;
	height:26px;
	text-decoration:none;
	color:#333;
}
.btn_01:hover{
	color:#333;
}

/*
標準按鈕備份
.btn_02{
	padding:0.3em 1em;
    display: inline-block;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
    border-radius: 3px;
	border:none;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	cursor:pointer;
	background:#ffec1c;
	color:#fff;
	text-decoration:none;
}
.btn_02:hover{
	background:#ebd91a;
}
*/

.wrapper{
	padding:0;
	position:relative;
}
.innerwrapper{
	padding:0 10px;
}

/* lang 區塊 */
.lang{
	padding:0;
	position:absolute;
	right:20px;
	top:10px;
}

/* header 區塊 */
.header{
	padding:10px 10px 10px 10px;
}
.header .logo img{
	height:50px;
}

/* search 區塊 */
.search{
	/**/
}
.search .search_db{
	background:#f3f3f3;
	padding:10px 0;
}
.search .search_db .search_db_l{
	display:block;
	color:#333;
}
.search .search_db .search_db_s{
	display:none;
}
.search .search_db .search_db_title{
	display:inline;
}
.search .search_db .search_db_list{
	/**/
}
.search .search_db label{
	margin:0 10px 5px 0;
	white-space:nowrap;
	display:inline-block;
}
.search .search_box{
	background:#f3f3f3;
	padding:10px 0 0 0;
}
.search .search_box .search_box_in{
	display:none;
}
.search .search_box .search_box_in input[type="text"]{
	margin:0 5px 10px 0;
	width:500px;
}
.search .search_box .search_box_in select{
	margin:0 5px 10px 0;
}
.search .search_box .search_box_in button{
	background:#555555;
	color:#fff;
	margin:0 5px 10px 0;
}

/* Menu 區塊 */
.menu{
	background:#ffec1c;
	position:relative;
	z-index:999;
}
.menu .menu_box_list{
	/*display:none;不可加這語法,會影響計算寬度錯誤*/
	position:absolute;
	top:-100em;
	/*由js控制*/
}
.menu .menu_box_list ul{
	margin:0;
	padding:0;
}
.menu .menu_box_list ul li {
	position: relative;
	float: left;
	list-style-type:none;
	color:fff;
	line-height:40px;
}
.menu .menu_box_list ul li a{
	display: block;
	padding:0 10px;
	color: #333;
	line-height:40px;
	text-decoration:none;
}
.menu .menu_box_list ul li a:hover, .menu_hover{
	background:#ebd91a;
}
.menu .menu_box_list ul ul{
	display: none;
	float: left;
	position: absolute;			
	left: 0;	
	margin: 0;
}
.menu .menu_box_list ul li:hover > ul{
	display: block;
}			
.menu .menu_box_list ul ul li {
	border-top: 1px solid #fff;
}
.menu .menu_box_list ul ul a {
	width: 120px;
	padding:8px 10px;
	color: #fff;		
	background:#ffec1c;
	line-height:20px;		
}
.menu .menu_box_list ul ul a:hover {		
	background:#ebd91a;
}			
.menu .menu_box_select{
	display:none;
	/*由js控制*/
}
.menu .menu_box_select select{
	width:100%;
}

/* Crumbs 區塊 */
.crumbs{
	background:#fffde4;
	margin:0;
	padding:5px 0px;
	font-size:12px;
	color:#333;
}
.crumbs a{
	text-decoration:none;
	font-size:12px;
	color:#333333;
}

/* Books 區塊 */
.books{
	margin:0;
	padding:20px 0 0 0;
	background:#fefaee;
}
.books .books_box .books_pager_prev{
	display:block;
	width:25px;
	height:40px;
	cursor:pointer;
	background:url(images/btn_S1_01.png) 0 0 no-repeat;
	text-decoration:none;
}
.books .books_box .books_pager_prev:hover{
	/*background:url(images/btn_S1_01.png) 0 -50px no-repeat;*/
}
.books .books_box .books_pager_next{
	display:block;
	width:25px;
	height:40px;
	cursor:pointer;
	background:url(images/btn_S1_01.png) -40px 0 no-repeat;
	text-decoration:none;
}
.books .books_box .books_pager_next:hover{
	/*background:url(images/btn_S1_01.png) -40px -50px no-repeat;*/
}
.books .books_box .books_box_list{
	padding:0;
}

.books .books_box .books_box_list td{
	text-align:center;
	vertical-align:top;
}
.books .books_box .books_box_list td a{
	text-decoration:none;
	color:#2b9dc3;
}
.books .books_box .books_box_list td a:hover{
	color:#e4007f;
}
.books .books_box .books_box_list td a img{
	width:95%;
	max-width:130px;
	padding:5px;
	border:1px solid #e1e1e1;
	background:#fff;
	-webkit-box-shadow:3px 3px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:3px 3px 1px rgba(0,0,0,0.1);
	box-shadow:3px 3px 1px rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.books .books_box .books_box_list td a div{
	padding:10px;
}
.books .books_box .pager_btn{
	padding:0 0 20px 0;
	text-align:center;
	display:none;
}
.books .books_box .pager_btn a{
	display:inline-block;
	margin:0 5px 0 5px;
	width:15px;
	height:15px;
	cursor:pointer;
	background:url(images/btn_S1_01.png) -80px -50px no-repeat;
	text-decoration:none;
}
.books .books_box .pager_btn a:hover, .books .books_box .pager_btn .a_hover{
	background:url(images/btn_S1_01.png) -80px 0 no-repeat;
}


/* news_home 區塊 */
.news_home{
	margin:0 0 20px 0;
	padding:20px 0 20px 0;
	position:relative;
}
.news_home .news_title{
	display:inline-block;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	color:#333;
	margin:0 20px 10px 20px;
	padding:0 20px;
	line-height:26px;
	height:26px;
	background:#ebd91a;
}
.news_home .news_title:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f1ea\00a0";
}
.news_home .news_box{
	margin:0 20px;
	border-top:2px solid #ebd91a;
}
.news_home .news_box .news_box_list{
	margin:0 0 20px 0;
}
.news_home .news_box .news_box_list tr{
	vertical-align:top;
	line-height:1.2em;
}
.news_home .news_box .news_box_list tr:nth-child(even){
	background:#f8f8f8;
}
.news_home .news_box .news_box_list tr:nth-child(odd){
	background:#ffffff;
}
.news_home .news_box .news_box_list tr:last-child th{
    border-bottom:1px solid #ebd91a;
}
.news_home .news_box .news_box_list tr:last-child td{
    border-bottom:1px solid #ebd91a;
}
.news_home .news_box .news_box_list tr th{
	width:120px;
	font-weight:normal;
	text-align:left;
	padding:10px 0 10px 10px;
	border-bottom:1px solid #e2e2e2;
}
.news_home .news_box .news_box_list tr td{
	font-weight:normal;
	text-align:left;
	padding:10px 0 10px 0;
	border-bottom:1px solid #e2e2e2;
}
.news_home .news_box .news_box_list tr td:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f105\00a0";
}
.news_home .news_box .news_box_list tr td a{
	font-weight:normal;
	text-align:left;
	color:#2b9dc3;
	text-decoration:none;
}
.news_home .news_box .news_box_list tr td a:hover{
	color:#e4007f;
}
.news_home .news_box .news_box_buttom{
	position:absolute;
	top:20px;
	right:30px;
}
.news_home .news_box .news_box_buttom .btn_01:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f03a\00a0";
}

/* 主內容 區塊 */
.container{
	margin:20px 0 10px 0;
}




/* 訊息列表 區塊 */
.news_list{
	margin:20px 0 20px 0;
}
.news_list .news_box_list{
	margin:0 0 10px 0;
}
.news_list .news_box_list tr{
	/**/	
}
.news_list .news_box_list tr:nth-child(even){
	background:#f8f8f8;
}
.news_list .news_box_list tr:nth-child(odd){
	background:#ffffff;
}
.news_list .news_box_list tr:last-child th{
    border-bottom:1px solid #bb0808;
}
.news_list .news_box_list tr:last-child td{
    border-bottom:1px solid #bb0808;
}
.news_list .news_box_list tr th{
	width:120px;
	font-weight:normal;
	text-align:left;
	padding:10px 0 10px 10px;
	border-bottom:1px solid #e2e2e2;
}
.news_list .news_box_list tr td{
	font-weight:normal;
	text-align:left;
	padding:10px 10px 10px 0;
	border-bottom:1px solid #e2e2e2;
}
.news_list .news_box_list tr td:before{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f105\00a0";
}
.news_list .news_box_list tr td a{
	color:#2b9dc3;
	text-decoration:none;
}
.news_list .news_box_list tr td a:hover{
	color:#e4007f;
}

/* news_detail 區塊 */
.news_detail{
	margin:20px 0 20px 0;
}
.news_detail .title{
	font-size:1.5em;
	font-weight:bold;
	padding:0 0 10px 0;
}


/* footer 區塊 */
.footer{
	text-align:center;
	color:#555;
	font-size:1em;
	padding:5px 0;
	line-height:1.2em;
}
.footer span{
	margin:0 5px;
	white-space:nowrap;
}
.footer .counter{
	display:block;
	margin:0 0 10px 0;
	padding:0;
	font-size:1em;
}

/* ck_htmlcode 區塊*/
.ck_htmlcode{
	margin:0;
	padding:0;
}

.ck_htmlcode h1, .ck_htmlcode h2, .ck_htmlcode h3{
	color:#333333;
	margin:0;
	padding:0 0 0.5em 0;
}
.ck_htmlcode h4, .ck_htmlcode h5, .ck_htmlcode h6{
	color:#333333;
	margin:0;
	padding:0 0 0.2em 0;
}
.ck_htmlcode p{
	padding:0 0 10px 0;
}
.ck_htmlcode ul{
	margin:0 0 10px 0;
	padding:0 0 0 20px;
}
.ck_htmlcode ul li{
	margin:0;
	padding:0 0 10px 0;
}
.ck_htmlcode img{
	
}
.ck_htmlcode table{
	margin:0 0 10px 0;
	border-collapse:collapse;
	border:1px solid #eeeeee;
	/*background:#e3e3e3;*/
}
.ck_htmlcode table tr{
	/**/	
}
.ck_htmlcode table tr:nth-child(even){
	/*background:#ffffff;*/
}
.ck_htmlcode table tr:nth-child(odd){
	/*background:#e3e3e3;*/
}
.ck_htmlcode table tr th{
	padding:5px 10px 5px 10px;
	font-size:1em;
	text-align:left;
	font-weight:normal;
}
.ck_htmlcode table tr td{
	padding:5px 10px 5px 10px;
	line-height:1.4em;
}
.ck_htmlcode table tr td a{
	color:#2b9dc3;
	text-decoration:none;
}
.ck_htmlcode table tr td a:hover{
	color:#e4007f;
}

/* CKEditor 設定 */
/*
.CKCSS_banner{
	
}
.CKCSS_title{
	font-size:1.2em;
	font-weight:bold;
	color:#e3554f;
	padding:0 0 0.5em 0;
}
.CKCSS_sub_title{
	font-size:1em;
	font-weight:bold;
	color:#333;
	padding:0 0 0.5em 0;
}


.CKCSS_table{
	margin:0 0 20px 0;
}
.CKCSS_table tr{
	
}
.CKCSS_table tr:nth-child(even){
	
}
.CKCSS_table tr:nth-child(odd){
	background:#dcf6f5;
}
.CKCSS_table tr th{
	background:#58c5bf;
	padding:5px 10px 5px 10px;
	color:#fff;
	font-size:1em;
	text-align:left;
}
.CKCSS_table tr td{
	padding:5px 10px 10px 10px;
}
.CKCSS_table tr td a{
	color:#354cd4;
	text-decoration:none;
}
.CKCSS_table tr td a:hover{
	color:#e3554f;
}
*/

/* Banner 區塊 */
.banners{
	margin:0 0 20px 0;
}
.banners .innerwrapper{
	padding:0;
}
.banners .item a{
	text-decoration:none;
}
.banners .item a img{
	width:100%;
}
.banners .item a .title{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	margin:0 0 10px 0;
	padding:20px 40px 20px 40px;
	background:rgba(255,255,255,0.5);
	font-size:2em;
	font-weight:bold;
	color:#333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: 0 0 2px #fff;
	transition: all 0.5s ease;
	opacity:0;
}
.banners .item a:hover .title{
	opacity:1;
}
.banners .item .info{
	position:absolute;
	top:0;
	right:0;
	padding:0;
	width:0;
}
.banners .item .info .info_btn{
	position:absolute;
	top:10px;
	right:10px;
	font-size:30px;
	color:#000;
}
.banners .item .info .info_btn i{
	text-shadow: 0 0 2px #fff;
}
.banners .item .info .info_txt{
	opacity:0;
	background:rgba(255,255,255,0.9);
	color:#333;
	margin:10px 10px 0 0;
	padding:45px 20px 15px 20px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

/*owl.theme.default.css*/
.owl-theme .owl-nav{
	background:#CCC;
	height:1;
}
.owl-theme .owl-nav [class*='owl-'] {
    color:#fff;
    font-size:30px;
    background:rgba(255,255,255,0);
}
.owl-theme .owl-nav [class*='owl-']:hover {
	color:#ebebeb;
	background:rgba(255,255,255,0);
}
.owl-theme .owl-nav [class*='owl-'] i::before{
	text-shadow: 0 0 1px #000000;
}
.owl-theme .owl-nav .owl-prev{
	position:absolute;
	top:0;
	left:0;
}
.owl-theme .owl-nav .owl-next{
	position:absolute;
	top:0;
	right:0;
}
@media (min-width:1300px) {
.wrapper{
	margin: 0 auto;
	max-width: 1300px;
}
.header{
	padding:10px 0 10px 0;
}
}