@charset "utf-8";
/* CSS Document */
body{
	font-size:1em;
}
input[type="text"],
input[type="password"],
textarea {
	font-size:15px;
}
select{
	font-size:15px;
}
button{
	width:100%;
	padding:5px 0;
	font-size:15px;
}
.btn_01{
	width:100%;
}
/*
標準按鈕備份
.btn_02{
	padding:0.5em 1em;
	width:100%;
}
*/

/* lang 區塊 */
.lang{
	position:static;
	text-align:center;
}
.lang select{
	width:100%;
}

/* header 區塊 */
.header{
	text-align:center;
}
.header .logo img{
	height:auto;
	width:90%;
}


/* search 區塊 */
.search .search_db .search_db_l{
	display:none;
}
.search .search_db .search_db_s{
	display:block;
}
.search .search_db .search_db_s select{
	width:100%;
}
.search .search_db .search_db_title{
	display:block;
	padding:0 0 10px 0;
}
.search .search_box .search_box_in input[type="text"]{
	width:100%;
}
.search .search_box .search_box_in select{
	width:100%;
}



/* Menu 區塊 */


/* Books 區塊 */
.books .books_box .pager_btn{
	display:none;
}


/* news 區塊 */
.news_home .news_title{
	display:block;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin:0;
	line-height:30px;
	height:30px;
	text-align:center;
}
.news_home .news_box{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin:0;
	padding:0 0 10px 0;
	border:3px solid #6c1c6d;
}
.news_home .news_box .news_box_list{
	margin:0 0 10px 0;
}
.news_home .news_box .news_box_list tr:last-child td{
    border-bottom:1px solid #e2e2e2;
}
.news_home .news_box .news_box_list tr th{
	display:none;
}
.news_home .news_box .news_box_list tr td{
	padding:10px 10px;
}
.news_home .news_box .news_box_list tr td:before{
	content:"";
}
.news_home .news_box .news_box_list tr{
	line-height:1.2em;
}
.news_home .news_box .news_box_buttom{
	position:static;
	text-align:center;
}


/* 訊息列表 區塊 */
.news_list .news_box_list tr th{
	display:none;
}
.news_list .news_box_list tr td{
	padding:5px 10px;
}
.news_list .news_box_list tr td:before{
	content:"";
}
.news_list .news_box_list tr{
	line-height:1.2em;
}


.footer{
	font-size:0.5em;
	padding:10px 0;
	margin:50px 0 0 0;
}
.footer .counter{
	font-size:1.8em;
}

/* ck_htmlcode 區塊*/
.ck_htmlcode img{
	width:100% !important;
	height:auto !important;
}
.ck_htmlcode table{
	width:100%;
}
/* CKEditor 設定 */
/*
.CKCSS_banner{
	width:100%;
}
*/


/* Banner 區塊 */
.banners .item a .title{
	display:none;
	/*
	position:static;
	padding:20px 0 0 0;
	font-size:1.2em;
	*/
}
.banners .item .info{
	display:none;
	/*
	position:static;
	width:100%;
	*/
}
/*
.banners .item .info .info_btn{
	display:none;
}
.banners .item .info .info_txt{
	opacity:1;
	padding:20px 0 10px 0;
}
*/
/*
.owl-theme .owl-dots{
	position:static;
	top:0;
	text-align:center;
	margin:0 0 20px 0;
}
*/